[project]
name = "stochastic-gp2-0"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib",
    "pandas",
    "scipy>=1.16.3",
]
